body {
  background-color: black;
  color: white;
}
.element-number {
  width: 30px;
  background-color: gray;
  color: white;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.element-form {
  margin-left: 15px;
}
.element {
  margin-top: 15px;
}
